

#map{
    height: 60vh;
    width: 70vw;
    position: relative;
    left: 15%;
}
.groupBtn{
    position: relative;
    display: flex;
    left: 30%;
    gap: 2vw;
}
iframe{
    width: 100%;
    height: 100%;
}